@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Обнуление*/
*{
    padding:0;
    margin:0;
    border:0;
}
*,*:before,*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
:focus,:active{
    outline:none;
}
a:focus,a:active{
    outline:none;
}
nav,footer,header,aside{
    display:block;
}
html,body{
    height:100%;
    width:100%;
    font-size:100%;
    line-height:1;
    font-size:14px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
input,button,textarea{
    font-family:inherit;
}
input::-ms-clear{
    display:none;
}
button{
    cursor:pointer;
}
button::-moz-focus-inner{
    padding:0;border:0;
}
a,a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
ul li{
    list-style:none;
}
img{
    vertical-align:top;
}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight:inherit;
}
/*--------------------*/

.container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

/* ШАПКА */

header{
    background-image: url(../img/main_background.jpg);
    background-color: rgba(87, 87, 87, 0.596);
    background-size: 100%;
	background-blend-mode: multiply;
	background-attachment: fixed;
}

.header__title{
    font-size: 40px;
    color: white;
    font-family: 'Lato';
    text-align: center;
    padding: 100px 0 30px 0;
    border-bottom: 1px solid white;
}

.header__title a{
    color: white;
}

.header__list{
    color: white;
    margin-top: 14px;
    display: flex;
    justify-content:space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

ul li a{
    color: white;
}

ul{
    justify-content: space-between;
    display: flex;
}
li{
    margin-right: 20px;
}

.header__icons img{
    margin-right: 15px;
}

.header__icons img :last-child{
    margin:0;
}

.main__title{
    font-family: 'Montserrat', sans-serif;
    color: #e1cbcb;
    text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-top: 270px;
}

.main__title p{
    margin-top: 40px;
    color: rgb(255, 245, 227);
    text-align: center;
    line-height: 1.25em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.main__title__button{
    text-align: center;
    margin-top: 70px;
    padding-bottom: 250px;
}

.btn{
    border: 1px solid #e1cbcb;
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
    background: #ffd42900;
    width: 120px;
    padding: 12px 0 ;
    color:#ffffff;
    text-align: center;
    transition: all 0.7s ease;
}

.btn:hover{
    background-color: #e1cbcb;
    color: rgba(0, 0, 0, 0.712);
}

/* КАТАЛОГ */

.catalog{
    background-color: #181818;
    padding: 15px 50px;
    position: relative;
}

.card{
    font-family: 'Open Sans', sans-serif;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    width: 367px;
    min-height: 367px;
}

.card:first-child{
    margin-left: 0;
}

.card .image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img{
    transition: all 0.3s ease-out;
    width: 367px;
    height: 367px;
}
    
.card img:hover{
    transform: scale(1.4);
}

.wrapper{
    min-width: 100%;
    display: flex;
    overflow-x: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 0;
  }


.product__name{
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0;
    font-size: 15px;
    text-align: center;
    color: white;
}

.cost{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: -25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* ABOUT */

.about{
    background-color: #e1cbcb;
    padding: 50px;
}

.about .container{
    background-image: url(../img/about_background.jpg);
    background-color: rgba(54, 54, 54, 0.397);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height: 800px;
}

.about__title{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 30px;
}

.about__text{
    line-height: 1.875em;
    margin: auto;
    width: 800px;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.text__2 {
    padding-top: 30px;
}

/* КОНТАКТЫ */

.contact{
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    padding: 60px 0;
}


.contacts h1{
    color: #e1cbcb;
    font-size: 40px;
    padding-bottom: 30px;
}

.contacts span{
    color: white;
    font-size: 15px;
    line-height: 3em;
}

.wrapper2 {
    display: flex;
    justify-content: space-between;
}

.contacts{
    width: 600px;
}

.div__input{
    width: 500px;
}

.input{
    color: white;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif ;
    width: 247px;
    height: 47px;
    padding-left: 24px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
    background-color:#181818;
}

.input:hover{
    border: 1px solid #ffffff;
}

.input__text{
    width: 100%;
}

.input__text2{
    width: 100%;
    height: 200px;
}

.form{
    flex-direction: column;
    padding-top: 2px;
    align-items: center
}


.btn-form{
    border: 0;
    cursor: pointer;
    width: 100%;
    padding: 20px 50px;
}

.contact .container{
    width: 1200px;
}

/* Адаптация */

@media screen and (max-width:1200px){

}


@media screen and (max-width:992px){
    .div__input{
        width: 500px;
    }
}


@media screen and (max-width:768px){

}


@media screen and (max-width:576px){

}